 
body {
 width: 900px;
 height: 1300px;
 background-color: whitesmoke;
 margin-top: 100px;
}
div,iframe {
  width: 65% !important;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
}
iframe{
  height:700px !important;
 background-color: white;
 width: 80%;
 margin: auto; display: block;
}
div {
  border: none;
  margin-bottom: 10px;
}
button,input,select {
  margin:5px;
}
button {

    padding: 7px;
    border: none;
    color: black;
}

#item {width: 200px;}
.imgStyle {width: 100%;}


.item {position: absolute;}

.resizer {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: black;
            z-index: 2;

        }
        .resizer.nw {
            top: -1px;
            left: -1px;
            cursor: nw-resize;
        }
        .resizer.ne {
            top: -1px;
            right: -1px;
            cursor: ne-resize;
        }
        .resizer.sw {
            bottom: -1px;
            left: -1px;
            cursor: sw-resize;
        }
        .resizer.se {
            bottom: -1px;
            right: -1px;
            cursor: se-resize;
        } 

