<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.BoardMapper">
  <resultMap id="BaseResultMap" type="com.green.vo.Board">
    <result column="BNO" jdbcType="NUMERIC" property="bno" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="WRITER" jdbcType="VARCHAR" property="writer" />
    <result column="REGDATE" jdbcType="TIMESTAMP" property="regdate" />
    <result column="UPDATEDATE" jdbcType="TIMESTAMP" property="updatedate" />
  </resultMap>
  <insert id="insert" parameterType="com.green.vo.Board">
    insert into BOARD (BNO, TITLE, CONTENT, 
      WRITER, REGDATE, UPDATEDATE
      )
    values (#{bno,jdbcType=NUMERIC}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{writer,jdbcType=VARCHAR}, #{regdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select BNO, TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE
    from BOARD
  </select>
</mapper>